// app global css in SCSS form
html {
  font-size: 62.5%;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
.q-layout {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #09090a;
}

.container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;

  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 1;
}
